/** generic **/

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron-Bold'), url('http://themes.googleusercontent.com/font?kit=Y82YH_MJJWnsH2yUA5AuYZ0EAVxt0G0biEntp43Qt6E') format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url('http://themes.googleusercontent.com/font?kit=lVErvynhvxLufD6jW6vDo_esZW2xOQ-xsNqO47m55DA') format('truetype');
}

body {
    background: #111 -moz-linear-gradient(-90deg, #333, #111) no-repeat;
    background: #111 -webkit-linear-gradient(-90deg, #333, #111) no-repeat;
    background: #111 linear-gradient(-90deg, #333, #111) no-repeat;
    color: #ddd;
    font-size: 28px;
    text-align: center;
}

a, a:hover, a:visited {
    color: #bf0;
    text-decoration: none;
}

/** the header **/

header {
    height: 110px;
    background: url(metal_bg.jpg);
    box-shadow: 1px 1px 0px #bf0;
    text-align: left;
}

header h1 {
    text-shadow: 1px 1px #BF0;
    font-size: 30px;
    padding-left: 150px;
}
header h2 {
    color: #BF0;
    font-size: 20px;
    padding: 0;
    padding-left: 150px;
}
header #logo {
    font-size: 14px;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 45px;
    top: 20px;
    padding: 10px;
    margin-right: 16px;
    background: url(hex-glider.png) no-repeat;
}

/** main area **/

#main {
/*    border-top: 1px solid #bbff00;*/
}

#main p {
    margin: 10px;
    font-size: 20px;
}

/** menus - common elements **/

button {
    background: none;
    color: #eee;
    width: 150px;
    margin: 0;
    border: none;
/*    border-top: 1px solid #bbff00;*/
    padding: 2px;
}

button.top-row {
    border-top: none;
}

button:hover {
    color: #bbff00;
}

button.inactive {
    color: #777;
}

/** nav menu **/

#nav-menu {
    float: left;
    width: 150px;
    padding: 0;
    border-bottom-right-radius: 10px;
    border-top: 0;
    background: url(metal_bg.jpg);
    box-shadow: 1px 1px 0px #bf0;
}

#nav-menu button {
}

/** control panel **/

#ctrl-panel {
    width: 400px;
    height: 54px;
    border: 1px solid #bf0;
    border-radius: 10px;
    margin-top: 10px;
    background: url(metal_bg.jpg);
    margin: auto;
}

#ctrl-panel button {
    float: right;
/*    border-right: 1px solid #bbff00;*/
}

#ctrl-panel .small-buttons button {
    font-size: 70%;
    width: 100px;
}

#ctrl-panel .row {
    display: block;
    clear: both;
}

#ctrl-panel .row :first-child {
    border-right: 0;
}

/** the world **/

#world {
    text-align: center;
    padding: 10px;
    padding-left: 150px;
}

canvas {
    margin: auto;
    border: 1px solid #bf0;
    border-radius: 10px;
    padding: 10px;
    background: url(metal_bg.jpg);
}

/** popups **/

.popup {
    display: none;
    width: 500px;
    position: absolute;
    background: url(metal_bg.jpg);
    border: 5px solid #bf0;
    padding: 6px;
    font-size: 14px;
    border-radius: 10px;
    margin: auto;
    text-align: left;
    top: 200px;
    left: 250px;
}

#popup-load-content {
    height: 300px;
    overflow: auto;
}