<!doctype html>
<head>
        <meta charset="utf-8" />
        <title>Nest of The Worlds</title>
        <!-- Production -->
        <!--
        <script src="../../src/mootools/mootools-core-1.3-full-nocompat-yc.js"></script>
        <script src="../../src/audiolet/Audiolet.min.js"></script>
        -->

        <!-- Development -->
        <script type="text/javascript" src="{{ STATIC_URL }}Audiolet/src/mootools/mootools-core-1.3-full-nocompat.js"></script>
        <script src="{{ STATIC_URL }}Audiolet/src/audiolet/Audiolet.js"></script>
        <script src="{{ STATIC_URL }}js/json2.js"></script>

        <!-- jquery, off of google's CDN -->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>

        <!-- Common -->
	<!-- Navigation -->
        <script src="{{ STATIC_URL }}js/nav.js"></script>
	<!-- Defining the node of the hex grid -->
        <script src="{{ STATIC_URL }}js/hexnode.js"></script>
	<!-- Defining the view presentation layer -->
        <script src="{{ STATIC_URL }}js/hexview.js"></script>
	<!-- Defining the world -->
	<script src="{{ STATIC_URL }}js/hexlife.js"></script>
	<!-- Audio stuff -->
        <script src="{{ STATIC_URL }}js/hexaudio.js"></script>
	<!-- And in the darkness... bind! -->
        <script src="{{ STATIC_URL }}js/hexsim.js"></script>

	<script type="application/javascript">


    window.addEvent("domready", function() {
      document.hs = new HexSim();
      document.hs.hl.jsonurl = "{{ STATIC_URL }}repo/glider.json";

      document.hs.hl.sound();
      // document.hs.hl.seed();
      document.hs.play();

      document.hs.audio = new Sine(document.hs.ha.audiolet, 440);
      document.hs.audio.connect(document.hs.ha.audiolet.output);

      document.hs.audio.remove();
//      document.hs.ha.audiolet.output.disconnect(document.hs.audio);
//      document.hs.audio.disconnect(document.hs.ha.audiolet.output);

      Nav.init();
    });
</script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/boilerplate.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
      <div id="container">
        <header>
          <div id="logo"></div>
          <h1>The Nest of Worlds</h1>
          <h2>Breed your own music, http://now.hackerspace.pl/</h2>
        </header>
        <div id="main" role="main">
          <div id="nav-menu">
            <button id="bt-about" class="top-row">About</button>
            <button id="bt-login">Login</button>
            <button id="bt-howto">Howto</button>
            <button id="bt-credits">Credits</button>
            <button id="bt-contact">Contact</button>
            <button id="bt-save" class="top-row with-spacer">Save</button>
            <button id="bt-load" class="top-row">Load</button>
          </div>
    
          <div id="world">
            <p>Note: audio is available only on Firefox 4.</p>
            <canvas id="hexcanvas" width="600" height="210"></canvas>
            <div id="ctrl-panel">
              <div class="row small-buttons with-spacer">
                <button id="bt-clear">Clear</button>
                <button id="bt-step">Step</button>
                <button id="bt-stop">Stop</button>
                <button id="bt-play">Play</button>
              </div>
              <div class="row small-buttons">
                <button id="bt-random">Random</button>
                <button id="bt-edit">Edit</button>
                <button id="bt-redraw">Redraw</button>
                <button id="bt-seed">Seed</button>
              </div>
            </div>

            <div id="popup-save" class="popup">
              <h2>Save</h2>
              <input id="popup-save-name" name="name" value="" />
              <div>
                <button id="bt-save-cancel">Cancel</button>
                <button id="bt-save-submit">Save</button>
              </div>
            </div>
          
            <div id="popup-load" class="popup">
              <h2>Load</h2>

              <div id="popup-load-content">
              </div>

              <button id="bt-load-cancel">Cancel</button>
            </div>
          
          </div>
        </div>
      </div> <!--! end of #container -->
</body>
</html>
